
textarea{
	font-size: 11pt;
	background-color: #efefef;
	width: 70%;
}
body{
	font-family: 'Handlee',cursive;
	font-size: 13pt;
	background-color: #efefef;
	padding: 10px;
	font-style: italic;
}
.section{
	background-color: #fff;
	padding: 15px;
	margin-bottom: 10px;
	border-radius: 10px;
}
.italic{
	font-style: : "italic";
}
a{
	color: pink;
	text-decoration: none;

}
h1{
	color: black;
	text-shadow: 5px 2px 4px grey;
}